* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
}

@media (max-width: 1199px) {
  .container {
    max-width: 1010px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Proxima Nova Light', sans-serif;
  color: body text-color;
}

.section {
  padding: 100px 0;
}

.section-title {
  font-size: 30px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.section_title {
  margin-bottom: 100px;
}

.button-o {
  border: 2px solid #507fe1;
  padding: 17px 22px;
  font-style: 12px;
  text-transform: uppercase;
  color: #507fe1;
  font-family: 'Proxima Nova Semibold', sans-serif;
  background-color: #fff;
  cursor: pointer;
}

.button {
  border: none;
  text-transform: uppercase;
  padding: 25px 45px;
  background-color: #507fe1;
  color: #ffffff;
  font-family: 'Proxima Nova Semibold', sans-serif;
  cursor: pointer;
}

.bg-secondary {
  background-color: #f1f1f1;
}

.input {
  height: 80px;
  padding-left: 30px;
  border: 1px solid #dddddd;
}

@media (max-width: 576px) {
  .button-o {
    font-size: 10px;
  }
  .section {
    padding: 60px 0;
  }
  .section-title {
    font-size: 24px;
  }
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 99;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 80px;
}

.navbar_mobile, .navbar_landline {
  text-align: right;
}

.navbar_phone {
  display: block;
  margin-bottom: 5px;
  font-style: 19px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  text-decoration: none;
  color: #262626;
}

.navbar_small-text {
  display: block;
  font-style: 14px;
  color: #7b7b7b;
  text-decoration: none;
}

.menu {
  position: fixed;
  z-index: 50;
  top: 29px;
  left: 0;
  width: 100%;
  padding: 16px 0;
  background-color: #507fe1;
  color: #ffffff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  opacity: 0;
}

.menu_active {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 1;
}

.menu_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu_link {
  text-decoration: none;
  font-size: 17px;
  text-transform: uppercase;
  color: #ffffff;
}

.menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  border: none;
  border-right: 1px solid rgba(81, 11, 186, 0.1);
  border-left: 1px solid rgba(81, 11, 186, 0.1);
  height: 80px;
  width: 70px;
}

.menu-button:hover {
  cursor: pointer;
}

.menu-button:focus {
  outline: none;
}

.menu-button_line {
  display: block;
  width: 20px;
  height: 3px;
  background-color: #89a9eb;
  margin: 2px 0;
}

.logo_text {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.logo_description {
  display: block;
  font-style: 14px;
  color: #7b7b7b;
}

@media (max-width: 991px) {
  .navbar_mobile, .navbar_landline {
    display: none;
  }
}

@media (max-width: 576px) {
  .logo {
    display: none;
  }
  .menu_nav {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .menu_link {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .menu_nav {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .menu_link {
    font-size: 10px;
  }
}

.hero {
  background: #f1f1f1 url("../image/hero/hero-bg4.jpg") top;
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 270px;
  margin-top: 80px;
}

.hero_title {
  font-size: 30px;
  margin-bottom: 40px;
}

.hero_subtitle {
  display: block;
  margin-bottom: 67px;
  font-size: 30px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.hero_link {
  text-decoration: none;
  color: #ffffff;
  height: 100%;
}

@media (max-width: 991px) {
  .hero {
    background-size: cover;
    background-position: top left 60%;
  }
}

.offer {
  padding: 129px 0;
}

.offer-block {
  background: #fff url("../image/hero/hero-bg.jpg");
  background-size: cover;
  padding: 60px;
  -webkit-box-shadow: 0 15px 25px black;
          box-shadow: 0 15px 25px black;
}

.offer_title {
  font-size: 25px;
  text-transform: uppercase;
  font-family: 'Proxima Nova Semibold', sans-serif;
  margin-bottom: 20px;
}

.offer_subtitle {
  display: block;
  font-size: 21px;
  margin-bottom: 48px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form_button {
  height: 80px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
}

.form_row {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form_label {
  display: block;
  font-size: 17px;
  margin-bottom: 15px;
}

.form_group {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.form_input {
  width: 100%;
  border-right-width: 0px;
}

.form_input:last-child {
  border-right-width: 1px;
}

@media (max-width: 768px) {
  .form_group {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .form_button {
    margin-top: 30px;
    width: 50%px;
    font: small-caption;
  }
  .form_input {
    width: 50%px;
  }
  .offer-block {
    background-size: cover;
    background-position: top left 70%;
  }
}

.feature-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feature-block_item {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
  text-align: center;
  margin-bottom: 50px;
}

@media (max-width: 991px) {
  .feature-block_item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (max-width: 768px) {
  .feature-block_item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 50px;
  }
}

.reviews {
  background-color: #f5f6f8;
}

.reviews-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews-slider_item {
  text-align: center;
}

.reviews-slider_text {
  position: relative;
  font-style: italic;
  font-size: 15px;
  max-width: 370px;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  height: 176px;
  vertical-align: middle;
  display: table-cell;
}

.reviews-slider_text::after {
  content: '';
  position: absolute;
  bottom: -45px;
  left: 45%;
  height: 10px;
  border: 20px solid transparent;
  border-top: 20px solid #fff;
}

.reviews-slider_image {
  display: block;
  width: 70px;
  height: 70px;
  border: 2px solid #6a99e9;
  border-radius: 60%;
  margin: 30px auto 10px auto;
}

@media (max-width: 768px) {
  .section {
    padding: 30px;
  }
  .section_title {
    margin-bottom: 30px;
  }
  .reviews-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .reviews-slider_item {
    margin-bottom: 20px;
  }
}

.contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contacts-block_item {
  text-align: center;
}

.contacts_image {
  margin-bottom: 25px;
  width: 50px;
  height: 50px;
}

.contacts_text {
  font-size: 16px;
}

.contacts_link {
  text-decoration: none;
  color: #262626;
}

.contacts_address {
  font-style: normal;
}

@media (max-width: 430px) {
  .section_title {
    margin-bottom: 50px;
  }
  .contacts-block_item {
    width: 100%;
    margin-bottom: 10px;
  }
}

.question_title {
  font-size: 30px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.question_link {
  font-size: 24px;
  color: #507fe1;
}

.question-block {
  max-width: 600px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer {
  padding: 40px 0;
  background-color: #262626;
  color: #ffffff;
}

.footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
}

.footer_title {
  margin-top: 10px;
  margin-bottom: 8px;
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.footer_subtitle {
  display: block;
  margin-bottom: 48px;
}

.footer_copy {
  color: #767676;
}

.footer_pay-logo {
  width: 70px;
  height: 70px;
  margin: 15px;
}

.footer_contacts {
  text-align: right;
}

.footer_phone {
  display: block;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.footer_mail {
  display: block;
  margin-bottom: 20px;
}

.footer-social_image {
  width: 30px;
  height: 30px;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.footer-social_link {
  margin-left: 15px;
}

.footer_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_pay-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 540px) {
  .footer-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */